# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Project github actions

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: '17'
        distribution: 'edopt'
        cache: maven
    - name: Build with Maven
      run: mvn clean install

  run_pull:
    name: run pull and deploy
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 172.16.1.230
          username: sotatek
#          password: ada2022
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            whoami
            ls -ln
#            cd /home/sotatek/
#            git clone https://github.com/Sotatek-TungNguyen6/github-actions-example.git
#            cd github-actions-example
#            echo "Okela"
#      - name: deploy
#        run:  docker-compose -f docker-compose.yaml up -d && exit